p,
label {
font:
  1rem 'Fira Sans',
  sans-serif;
}

input {
margin: 0.4rem;
}

.filter{
  grid-column: 1 ;
  grid-row: 2 / 3 ;
  background: linear-gradient(90deg, #001affe3, #2600ff8e);
  color: white;
  border-radius: 20px;
  margin-left:50px;
  margin-top: 150px;
  margin-right: 10px;
  padding: 15px;
  height: 700px;
  width: 250px;
}
.filter legend{
  text-align: center;
}
i{
  color: #e1e100;
  margin-right: 5px;

}

section{
margin-top: 100px;
margin-right: 200px;
grid-column: 2;
grid-row: 3 / 4;

}


.card, .card-2, .card-3 {

  display: flex;
  background: linear-gradient(90deg, #0018ff, #9a00ff);
  border-radius: 100px;
  color: white;
  width: 700px;
  height: 100px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 200px;
  box-shadow: 2px 5px 10px #606dff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}

.card-2{
  grid-column: 2;
  grid-row: 3;
}

.card-3{
  grid-column: 2;
  grid-row: 4 ;
}

.route {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 30px;
}

.route p {
  margin: 0;
  font-size: 15px;
}

.route hr {
  border: none;
  border-top: 2px solid white;
  margin: 10px 0;
  width: 150px;
}
.passengers {
  display: flex;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.passengers i{
  color: white;
  font-size: 20px;
}
.star i{
  font-size: 15px;
  color: gold;
}

.driver img{
  border-radius:50%;
  width:50px;
  height:50px;
  margin-right: 40px;
  object-fit: cover;

}
.passengers .car{
  margin-right: 40px;
  margin-left: 30px;
}
.price{
  display: flex;
  margin-left: 30px;
  margin-right: 10px;
}
.price p{
  font-size: 20px;
  font-weight: bold;
}
.price i{
  font-size: 20px;
  color: #e1e100;
}



.navbar button:hover {
  transform: scale(1.1);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
}

.card:hover, .card-2:hover, .card-3:hover {
  transform: translateY(-5px);
  box-shadow: 4px 8px 20px rgba(96, 109, 255, 0.7);
}
